/* .App {
    text-align: center;
    width: 100%;
    background-color: #131319;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.icon {
    height: 50px;
}

.firstlogin {
    text-align: center;
    width: 100%;
    background-color: #131319;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.close {
    position: absolute;
    left: 90%;
    color: white;
}

.Card {
    position: relative;
    text-align: center;
    width: 463px;
    border-radius: 8px;
    background: #27292D;
    padding: 30px;
    border: 3px solid #969696;
}

.welcome {
    /* position: absolute; */
    height: 17px;
    left: 661px;
    top: 324px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #6B6C70;
}

.loginto {
    letter-spacing: 0em;
    text-align: center;
    height: 22px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.label {
    text-align: left;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #C5C7CA;
}

.logintext {
    /* position: absolute; */
    width: 400px;
    height: 43px;
    border: 1.5px solid #35373B;
    border-radius: 4px;
    background-color: #27292D;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7F8084;
    margin-bottom: 18px;
    margin-top: 5px;
    padding-left: 10px;
}

.btn1 {
    width: 400px;
    padding: 10px;
    background: #4A96FF;
    border: 0px;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 10px;
}

.left {
    text-align: left;
}

.btwn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* homepage */

.home {
    background-color: #131319;
    color: white;
    padding: 30px;
    min-height: 100vh;
}

.hometext {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #7F8084;
    width: 88%;
}

.hometext2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #7F8084;
}

.container2 {
    background-color: #131319;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}

.post-card {
    background: #27292D;
    border: 2px solid #35373B;
    border-radius: 8px;
    padding: 15px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.card-content {
    background: #191920;
    border-radius: 8px;
    padding: 13px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.profile-content {
    display: flex;
}

.image {
    margin-right: 15px;
    width: 48px;
    height: 48px;
    background: #27292D;
    padding: auto;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image1 {
    background-image: url('https://scontent.fdel29-1.fna.fbcdn.net/v/t1.6435-9/66061893_1133080573556192_9164211215994454016_n.jpg?_nc_cat=110&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=DMSfLjeHmBcAX8U42d0&_nc_ht=scontent.fdel29-1.fna&oh=00_AT9aVvlyuOTqC49bJ-9i_WRNsqMLiKQ_YfcH1QZrjH5DMA&oe=62A461B9');
    background-size: cover;
}

.image2 {
    background-image: url('https://media.glamour.com/photos/5695aa8e16d0dc3747ed3575/master/w_320%2Cc_limit/sex-love-life-2009-12-1207-02_party_pic_li.jpg');
    background-size: cover;
}

.btn2 {
    /* position: absolute; */
    width: 100px;
    padding: 8px;
    background: #4A96FF;
    border: 0px;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 5px;
}

.cur {
    cursor: pointer;
}

@media only screen and (max-width: 800px) {}

@media only screen and (max-width: 500px) {
    .firstlogin {
        padding: 10px;
    }
    .login {
        flex-direction: column;
        justify-content: end;
    }
    .Card {
        width: 100%;
        padding: 10px;
        padding-top: 25px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .welcome {
        font-size: 12px;
    }
    .loginto {
        font-size: 15px;
    }
    .label {
        font-size: 12px;
    }
    .logintext {
        width: 100%;
        font-size: 14px;
        padding-left: 5px;
    }
    .btn1 {
        font-size: 14px;
        width: 100%;
    }
    .hometext {
        font-size: 14px;
        margin-bottom: 0px;
    }
    .hometext2 {
        font-size: 12px;
    }
    .post-card {
        padding: 12px;
    }
    .btn2 {
        width: 80px;
        padding: 6px;
        font-size: 14px;
    }
    .home {
        padding: 12px;
        padding-top: 30px;
    }
}